*{
    margin: 0px;
    padding: 10px;
    box-sizing: border-box;
    font-family: "poppins" sans-serif;
    font-size: 25px;
    
}
body{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.leader{
    height: 700px;
    width: 100%;
    border: 10px solid rgb(8, 8, 8);
    display:flex;
    justify-content: center;
    align-items: center;
    background-image: url(back.jpeg);
    background-size: cover;
    background-position: center;
    
}
.actingleader{
    height: 400px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 2px solid rgb(97, 154, 180);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rbg(3, 4, 5, .1);
    
}
#head1 h1{
    color: rgb(243, 24, 24);
    font-size: 50px;
    display: flex;
    justify-content: center;
    
}

#input1 {
    display: flex;
}
#icon{
    margin-top: 20px;
    font-size: 30px;
}
#input2{
    display: flex;
}
#input1 input{
    height: 40px;
    width:400px;
    color: antiquewhite;
    border-radius: 10px;
    margin-top: 30px;
    background-color: transparent;
}
#input1 input:hover { 
    background-color: rgb(218, 205, 205);
}
#input2 input:hover { 
    background-color: rgb(218, 205, 205);
}
#input2 input{
    height: 40px;
    width: 400px;
    border-radius: 10px;
    margin-top: 20px;
    background-color: transparent;
}
.check input{
    height: 20px;
    width: 30px;
    margin-right: 10px;
}
.check{
    margin-top: 10px;
}

#log button{
    margin-top: 20px;
    margin-bottom: 20px;
    height: 40px;
    width: 350px;
    background-color: blue;
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 30px;
    border-radius: 40px;
}
#log button:hover {
    background-color: rgb(25, 20, 125);
}

a{
    color: #ffffff;
}
a:hover {
    background-color: rgb(142, 86, 86);
}